<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- Google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Mandali&family=Vidaloka&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS link -->
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>

  <!-- CSS link -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <title>vue-email-list</title>
</head>

<body>

  <div id='app'>
    <div class="container-fluid mt-3">

      <h1>Random emails generator</h1>

      <div class="col-3">

        <label for="emailsNumber" class="form-label">Insert the number of emails to generate (between 1 and 100)</label>

        <div class="d-flex mb-4">
          <input v-model="numberOfItems" type="number" class="form-control w-25 me-4" name="emailsNumber"
            placeholder="eg: 7" min="1" max="100">
          <button @click="generateEmails(numberOfItems)" class="btn btn-outline-primary" type="button"
            id="button-addon2">Generate</button>
        </div>

        <div v-if="errorMessage" class="card p-2">
          <p class="text-danger m-0"> {{errorMessage}} </p>
        </div>

      </div>

      <div v-if="emailList.length === numberOfItems" class="card">

        <div class="card-header">
          <h3 class="m-0">Emails:</h3>
        </div>

        <div class="emailContainer d-flex flex-column flex-wrap m-2">
          <p v-for="email in emailList"> {{email}} </p>
        </div>

      </div>

    </div>
  </div>




  <!-- VueJs link -->
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

  <!-- Axios link -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js'
    integrity='sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=='
    crossorigin='anonymous' referrerpolicy='no-referrer'></script>

  <!-- JS link -->
  <script src='./assets/js/main.js'></script>

</body>

</html>